---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        <!-- social-resume -->
        {% if site.social-resume %}
          <li><a href="https://twitter.com/{{ site.social-resume }}" title="Download Resume" target="_blank"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></li>
        {% else %}
          <li><a href="https://drive.google.com/uc?export=download&id=10Wkbt9vSHyFv_JrbSY0IBIs49Dm2Zwoe" title="Download Resume" target="_blank"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></li>
        {% endif %}
        <!-- social-twitter -->
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% else %}
          <li><a href="https://twitter.com/artemsheludko_" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        <!-- social-facebook -->
        <!-- {% if site.social-facebook %}
          <li><a href="https://facebook.com/{{ site.social-facebook }}" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% else %}
          <li><a href="https://facebook.com/" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% endif %} -->
        <!-- social-github -->
        {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{site.social-github}}" title="Github" target="_blank"><i class="fa fa-github"></i></a></li>
        {% else %}
          <li class="github"><a href="http://github.com/" title="Github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        {% endif %}
        <!-- social-linkedin -->
        {% if site.social-linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% else %}
          <li class="linkedin"><a href="https://in.linkedin.com/" title="LinkedIn" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        {% endif %}
        <!-- social-email -->
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}" title="Email" ><i class="fa fa-envelope-o"></i></a></li>
        {% else %}
          <li class="email"><a href="mailto:example.david@blog.com" title="Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
